#playback::-webkit-slider-thumb {
  visibility: hidden;
}

#playback:hover::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  -webkit-appearance: none;
  position: relative;
  z-index: 5;
  cursor: pointer;
  visibility: visible;
}